
.icon-search:before { content: '\e800'; } /* '' */
.icon-tags:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-truck:before { content: '\e803'; } /* '' */
.icon-basket:before { content: '\e804'; } /* '' */
.icon-undo:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */
.icon-shop:before { content: '\e807'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */